*.swp
*.swo
.idea
courses*
challenges
exercises
hexlet-mentors
projects
programs
boilerplates
hexlet-mentors
.docker
.DS_Store
*.env
*.log
node_modules
content
hexlet-course-images
hexlet-course-source-ci
hexlet-dev
hexlet-exercise-kit
hexlet-images
hexlet-program-ci
hexlet-program-source-ci
hexlet-project-source-ci
hexlet-zoom-to-youtube-uploader
latam
own-heroku
teachers
