# optional
# set log level to debug, default log level is info
# default: false
DEBUG=false

# required
# access data to gitlab api
GITLAB_API_ENDPOINT=https://gitlab.com/api/v4
GITLAB_API_PRIVATE_TOKEN=some_token

# optional
# path to save repositories
# relative or absolute path (you can use '~', '.', '..')
# default: current working directory
PATH_TO_REPOS=~/Work/hexlet/tools/repo-downloader/tmp

# optional
# if necessary, you can download separately groups of projects
# available values: courses, exercises, programs, projects
# default: all
FILTER=all

# optional
# the number of concurrent processes
# default: 10
PARALLEL=10
